
/* 💬 Group chat */
.errorStateIcon__7edd8 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198298302882517052/weapons.png?ex=65f5c442&is=65e34f42&hm=4eb87f397c57a26518783a6296fb0d445bb2e6af93e3dc26b555ea75fe17b47f&") !important;
}

/* 🔴 Streamer Mode */
[src="/assets/8bc13200408a99819215.svg"] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198301671458086912/streamer_mode.png?ex=65f5c765&is=65e35265&hm=08c1eb5fddfcbcc2fd9cb46f609d6b68e8a5e25897369e66e70407f452e6e79f&");
}

/* 🗝️ Treasure Chest */
[src="/assets/13a8bb57a95635a785ae.svg"],
[src="/assets/d6779172ed9209b5ad49df923ea7820c.svg"] {
  content: url("https://cdn.discordapp.com/attachments/974242241700831242/1198304084218892339/treasure_chest.png?ex=65ec8f25&is=65da1a25&hm=0bea4bea365817172c1ad4ae605e861cb4b0e7104ebc3dae009b252128b92859&");


    
}
/* 🤷‍♂️ GIF not found */
:root .sadImage_e4e5ab {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198305634731438141/gif_not_found.png?ex=65be6c16&is=65abf716&hm=91cd29ac1550731d4c76449bcd2c3d28c211b3f7270132661224e097e8839fec&");
}

/* 🤷‍ GIF picker end */
:root .endContainer__0c909::after {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198300956778057728/sticker_not_found.png?ex=65f5c6bb&is=65e351bb&hm=62893b7006457c0462535ca15d2a5fa4eae61b0853ebc05f75d59cb68cf1bb1b&");
}

/* 👥 Groups */
:root .noFriends_a7f7ca .errorStateIcon__7edd85 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198305405709864970/groups.png?ex=65f5cae0&is=65e355e0&hm=219b4a95c1f882fddfd54ab27d7206ef6aa5289c246cae6408cfb5833ae8c06f&");
}

/* 🎁 Gift Inventory */
:root .emptyStateImage__3e0a5,
:root .emptyWumpus__67af4 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198305264005283870/gift_inventory.png?ex=65f5cabe&is=65e355be&hm=0dd11a5c2291e1f1e64472715392b0cf64cd10c3c1bad9b30e735db73279ef8f&");
}

/* 🏠 Houses */
:root .emptyIconGuilds__72704 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198305099152367768/houses.png?ex=65f5ca97&is=65e35597&hm=2d2f2081d73294a813dcc985d030366c5c88527fe5d7e9712242d6856439da0e&");
}
/* 🔑 Key */
.theme-dark .channelNotice-tO6Tus.guildMFAWarning-3GEzs8,
.theme-light .channelNotice-tO6Tus.guildMFAWarning-3GEzs8 {
  background: url("https://cdn.discordapp.com/attachments/974242241700831242/1198304637430792252/key.png?ex=65f5ca28&is=65e35528&hm=8caee42ccf8c9e0823551a40a146ec981516c0691525982cbed33af6e58ee34c&") no-repeat
    center 20px;
  background-size: 40%;
}

/* ❌ No channel */
[style*='background-image: url("/assets/dee199baf31d0fc4227d.svg");'],
[style*='background-image: url("/assets/8f386efbc744b1e32997.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198304476461805588/no_channel.png?ex=65f5ca02&is=65e35502&hm=ad8a8172e1f6753336e1a47ef057a995c4ea843f1ba4e99d275ccf5f3339d39a&") !important;
}

/* ⌨️ No keybinds */
[style*='background-image: url("/assets/12d9bda733d6432d605e8011c22c3e56.svg");'],
[style*='background-image: url("/assets/8de4b17bb44ad5ef9f21f2f6f16aa8d1.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198304373105766400/no_keybinds.png?ex=65f5c9e9&is=65e354e9&hm=d1ae98f6f6b028e17c15ccbc175b2a35a9a59f853d457d5371b917152d2e7f7a&") !important;
}

/* 🔎 🗣️ No results conversation */
:root .emptyState_afda24 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198302329678610613/no_results_conv.png?ex=65f5c802&is=65e35302&hm=82a66c209b312cfda8b5b15c5b079af2a18cdec3468ffc1eaf823469af173b52&");
  background-size: 20%;
}


/* 🖼️ Pictures */
[style*='background-image: url("/assets/53e9102a961af6cf7254.svg");'],
[style*='background-image: url("/assets/db947193d549bd45c3a3.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198299697555701901/pictures.png?ex=65ec8b0f&is=65da160f&hm=fec89ca482e4e9dee0e327c173cc5b16f06f2101c3e46fb4406407593abfd22d&") !important;
}

/* 📜 Scroll */
[style*='background-image: url("/assets/cf8f9096a9322f2ae0d7.svg");'],
[style*='background-image: url("/assets/5e3480eff150b1cb323e.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198302854188896377/scroll.png?ex=65f5c87f&is=65e3537f&hm=4ba1e08c9ad5ce3ebd017ea545ba79a74f6b46bc1a64526ae207afcbfb8290c7&") !important;
}

/* 🔎 Searching */
.theme-dark .searchIndexBackground__14e66,
.theme-light .searchIndexBackground__14e66 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198303028076347492/searching.png?ex=65f5c8a9&is=65e353a9&hm=bd344e7fcc6d14af39a511e2179e7b489c559498aeec23382e81144453aec0a7&");
}

/* 🔥 Server outage */
.theme-dark .art-_juKdZ,
.theme-light .art-_juKdZ {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198303152374562967/server_outage.png?ex=65f5c8c6&is=65e353c6&hm=91024930f1231ba1a74797b0d065dcdfdef72360067266f54a02d04c39c2db96&");
}

/* 🟢 Spotify error */
:root .artworkSpotifySessionEnded__8272a {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198303281659793438/spotify_error.png?ex=65f5c8e5&is=65e353e5&hm=da679e1d67f8184b1d81544919e8033c3c24ef8cfd8405275c148499e7950a0f&");
}

/* ↔️ Switch */
.theme-dark .channelNotice-tO6Tus.quickswitcher-35bYg4,
.theme-light .channelNotice-tO6Tus.quickswitcher-35bYg4 {
  background: url("https://cdn.discordapp.com/attachments/974242241700831242/1198303396843761856/switch.png?ex=65f5c901&is=65e35401&hm=3cb4764ea947dcd5ba65ed2bd62435393568992714902f09337d099e29b95ede&")
    no-repeat center 20px;
}

/* 📹 Test Video */
:root .previewImage__91c1c {
  content: url("https://cdn.discordapp.com/attachments/974242241700831242/1198303623176781894/test_video.png?ex=65f5c937&is=65e35437&hm=d7e24172527f474e1ae5d3648561ad679dbad4de7a5695a3e9982673a01306b2&");
}

/* 🎁 Unclaimed */
.theme-dark .imageUnclaimed-5nJyYs,
.theme-light .imageUnclaimed-5nJyYs {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198298691375739050/unclaimed.png?ex=65be659f&is=65abf09f&hm=3354cec45fbb2915da724a7ac255a1c6bce9d0c38bbc705d029de8eaa43703d2&");
}

/* ✨ Integrations */
:root .footerImage__21e33 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198304789075861514/integrations.png?ex=65f5ca4d&is=65e3554d&hm=e97d25652716ae49b0434cc698796826a078a43decfd91620f7421a9979bd461&");
}

[src="/assets/d89511b11686ab5c942b3ef900e3d0eb.svg"],
[src="/assets/552bbc1a21ccdc1778e72f30154593ef.svg"] {
  content: url("https://cdn.discordapp.com/attachments/974242241700831242/1198304789075861514/integrations.png?ex=65f5ca4d&is=65e3554d&hm=e97d25652716ae49b0434cc698796826a078a43decfd91620f7421a9979bd461&");
}


/* 🔎 No results search bar*/
:root .noResultsImage__08760 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198302540605964318/no_results.png?ex=65f5c835&is=65e35335&hm=395e86ff189e4319988b2e65acb1212ac3b351a221c6077252d2f21292f74f9d&");
}

/* 🙁 No Mutuals */
:root .emptyIconFriends__8e334 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198302135457161236/no_mutuals.png?ex=65be68d4&is=65abf3d4&hm=66c65847bf3213162e76f7b089d489b888711b3d762569cc2d39ac009035c1ed&");
  background-size: 100%;
}

/* 😃 Emojis */
[style*='background-image: url("/assets/295da3fc92e2adb1b852.svg");'],
[style*='background-image: url("/assets/c8be48745cf680093019.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198247664261804144/emojis.png?ex=65f59519&is=65e32019&hm=d348689a1ffa4ab2597afaa46209d9dd1ae80a760dc268ab86b8123bffaa58bb&") !important;
}


/* 🤷‍♂️ Sticker not found */
[style*='background-image: url("/assets/d6e0ab2f94e516718aa7.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198300956778057728/sticker_not_found.png?ex=65be67bb&is=65abf2bb&hm=64bad09b8ad3f662a499476392906028a8eeabd65a09bb2e75f5113e6e7b33aa&") !important;
}

/* 💥 Crash */
:root .image_dabcb8 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198180802782048266/crash.png?ex=65f556d4&is=65e2e1d4&hm=562bf7e7ae91547a5c9876fe451ca47c37bea445b384b440490d327dd4b12da5&");
}

/* 📱 Phones */
:root .verificationBlock_c45d0e .image__54a8d.phone__0b460 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198300474114322462/phones.png?ex=65f5c648&is=65e35148&hm=92984149cc37344952ad8996d0da37e5aa198fda70c4465b1a49e0aa2e290660&");
}

/* 🔊 Vocal full */
.fullArt-KDeDyg {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1213849626642223144/vocal_full.png?ex=65f6f88f&is=65e4838f&hm=2f1754a0833247904c980dbaf96ddbfa558d726683ff13fc1c263a4b39a081ea&");
  background-size: 100%;
}

/* 📌 Pinned */
[style*='background-image: url("/assets/64df6f04b850029d2e78.svg");'],
[style*='background-image: url("/assets/9e2f412156e2ac1f14e9.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198299818582343720/pinned.png?ex=65f5c5ac&is=65e350ac&hm=8c9596d01c6a5a1847d0dc342b24711173f41123de6a639d0027fc80fff9ee64&") !important;
}

/* 💩 Poo */
:root .imageError__77b3e,
:root .invalidPoop__03aa3,
:root .guildIconExpired__1d51f {
  content: url("https://cdn.discordapp.com/attachments/974242241700831242/1198299057068720138/poop.png?ex=65f5c4f6&is=65e34ff6&hm=f56c7159b0c9a7ecf81b35bdb327f983c95a7652f06510fdb3153fdeb4c6b9f2&");
}
/* 😊 Friend */
.theme-dark .channelNotice-tO6Tus.invite-OjTXrW,
.theme-light .channelNotice-tO6Tus.invite-OjTXrW {
  background: url("https://cdn.discordapp.com/attachments/974242241700831242/1198248288730746900/friend.png?ex=65f595ae&is=65e320ae&hm=e9c64d328c965bbfd7246e5a17de5306d25b1edc27b3a96e3fea44c2c5277ce2&")
    no-repeat center 20px;
  background-size: 40%
      
}

/* ⛏️ Wumpus Mining */
[style*='background-image: url("/assets/532f1d4582d881960783.svg");'],
[style*='background-image: url("/assets/ee4637f8627629dd0da5.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/1135527131422674964/1179483967775330406/wumpus_mining.png?ex=6579f30b&is=65677e0b&hm=5bc25499d7056242e4b23b9dceaa66efc5bb8440f32b3b53c0672e2f7ba4716e&") !important;
}

/* 🗻 Wumpus Mountains */
[style*='background-image: url("/assets/01864c39871ce619d855.svg");'],
[style*='background-image: url("/assets/a72746e7108167af95c8.svg");'] {
  background-image: url("https://media.discordapp.net/attachments/974242241700831242/1179487147724644472/wumpus_mountain.png?ex=65f1ee81&is=65df7981&hm=4b2cf075dd0e1959553de000027f64715329cdb6d66ec4e31ff9575119c83bdf&") !important;
}

/* 💤 Wumpus Sleeping */
[style*='background-image: url("/assets/24aa06be5457e66bdd64.svg");'],
[style*='background-image: url("/assets/0629e34902ae58f8e4ca.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/1135527131422674964/1179484209333665792/wumpus_sleeping.png?ex=6579f345&is=65677e45&hm=d6db2816bef7e770910f2dc5012cc37770cb7579800fb6abfa1201a91705c53b&") !important;
}

/* 🍵 Wumpus Tea Party */
[style*='background-image: url("/assets/bca918618b884a382ab5.svg");'],
[style*='background-image: url("/assets/5741692705ba077f4190.svg");'],
.theme-dark .notFriends__778a1 .errorStateIcon__7edd8,
.theme-light .notFriends__778a1 .errorStateIcon__7edd8 {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198248506259931146/wumpus_tea_party.png?ex=65f595e2&is=65e320e2&hm=a621caeb5adcb44d3a51fe724f5ab1be2971c54144aba358be240c3e106dfc37&") !important;
}

/* 🛩️ Airplane */
[style*='background-image: url("/assets/c7c4065874955761be3b.svg");'],
[style*='background-image: url("/assets/a1b0a14d2f22c155a2b3.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/1135527131422674964/1179483012816183346/airplane.png?ex=6579f227&is=65677d27&hm=b625f1f08a8183acb20f31785e0d4ecc33d7a0ef553d17ef4fabb75852c58943&") !important;
}

/* 🕹️ Arcades */
[style*='background-image: url("/assets/0fcdddd7e59d53cf3253.svg");'],
[style*='background-image: url("/assets/ff9cfb0571740063f0be.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/1135527131422674964/1179482917328670861/arcades.png?ex=6579f211&is=65677d11&hm=3ae419291dc03c07c336e0843b0104b93f052fc08316a2b3ced0fb23fa887c32&") !important;
}

/* 🔨 Ban Hammer */
[style*='background-image: url("/assets/cdc3f4f6fbf3a0f0766f.svg");'],
[style*='background-image: url("/assets/c65431f185feb7b00749.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1213841635809558568/ban_hammer.png?ex=65f6f11e&is=65e47c1e&hm=b1ac45be10f026e7d968d22d10da0dfbc6f5d732c0330eca59f161c0453d82ab&") !important;
}

/* 🚀 Boost */
.theme-dark .channelNotice-3-mDJt,
.theme-light .channelNotice-3-mDJt {
  background-image: url("https://cdn.discordapp.com/attachments/1135527131422674964/1179483299060662352/boost.png?ex=6579f26c&is=65677d6c&hm=c50b8d083b05e280c34ac0e91c1bca98726beff638a3e283d1170501bb93f6ef&");
  background-repeat: no-repeat;
}

/* 🔎💥 Broken magnifying glass */
:root .errorImage__416df {
  background: url("https://cdn.discordapp.com/attachments/974242241700831242/1213849250375405588/broken.png?ex=65f6f835&is=65e48335&hm=6158e85d92c3422f66fae436374e224efbb71b0d843c81296f95edc0379ee08c&")
    center/cover;
}

/* 🏰 Castle */
:root .verification__82f71 .image__54a8d {
  background: url("https://cdn.discordapp.com/attachments/974242241700831242/1213849346148270160/castle.png?ex=65f6f84c&is=65e4834c&hm=9d50fedbdc77f1c21f6937fc06bd5f6af62dd043c13abb941d6751a0107fd1d8&") 50%/80%
    no-repeat;
}

/* ⚙️ Channel settings here and u didn't finished */
[src="/assets/c1875fc8a42a61903ba1.svg"],
[src="/assets/73984240bd99493de947.svg"] {
  content: url("https://cdn.discordapp.com/attachments/974242241700831242/1198179098355310685/channel_settings.png?ex=65f5553e&is=65e2e03e&hm=4090bede83daadad69946a0f279e9695aaa34187ea44cd01923d3fe4d38078d9&");
}

/* ⚙️ Category settings */
[src="/assets/1964f50ca0220e98dc32.svg"],
[src="/assets/387a7c504c96b992872d.svg"] {
  content: url("https://cdn.discordapp.com/attachments/974242241700831242/1198179784992235550/category_settings.png?ex=65f555e1&is=65e2e0e1&hm=775c04db075af49829594849d91e8ff77886b5ca437fda16efe95b676ff0a04f&");
}

/* 👥 🖼️ Community banner */
.previewCard-DOrO3c .splashImage-352DQ1 {
  content: url("https://cdn.discordapp.com/attachments/974242241700831242/1198179946498117712/community_banner.png?ex=65f55608&is=65e2e108&hm=5dd22900cb5c51e6226974f411b60218fe1eb4f6ac7b2f077d493f8ab1e8c607&");
}

/* 🖥️ Computer */
[style*='background-image: url("/assets/c115d59ca13c0f942965a82a0f05bf01.svg");'],
[style*='background-image: url(/assets/ad530d02033b87bb89752f915c2fbe3c.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198180200144441344/computer.png?ex=65f55644&is=65e2e144&hm=3980a3f35861e6c54183dfc942dbebdbf65729eba215a4aad7b35a73e9de31e6&");

/* 🎮 Developer Options */
[style*='background-image: url("/assets/8debd25fc894741dafd0.svg");'],
[style*='background-image: url("/assets/a0e249703c7cad81a7c1.svg");'] {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198247402650488914/dev_options.png?ex=65f594db&is=65e31fdb&hm=53d3ec8da883fe69dd8c919d7125728b22157659d9e7e7286164b9210c8d7d2a&") !important;
    }

/* 📭 Empty */
:root .image__88b66,
:root .emptyImage__66bed {
  background-image: url("https://cdn.discordapp.com/attachments/974242241700831242/1198248142320181338/empty.png?ex=65f5958b&is=65e3208b&hm=7943808d26284189d3ca508b0414eb4dcc0a079d39720e5d6cd72cb04fb5e1b7&");
}



/* 🏓 @everyone */
.contentWarningPopout__7d8c2 g > :nth-child(2) > :first-child path {
  fill: #0000003d;
}
.contentWarningPopout__7d8c2 g > :nth-child(3) > :first-child path {
  fill: #99abd8;
}
.contentWarningPopout__7d8c2 g > :nth-child(3) > :nth-child(2) path {
  fill: #7a8ec7;
}
.contentWarningPopout__7d8c2 g > :nth-child(4) > :first-child path {
  fill: #b3cafb;
}
.contentWarningPopout__7d8c2 g > :nth-child(4) > :nth-child(2) path {
  fill: #c2d2f1;
}
.contentWarningPopout__7d8c2 g > :nth-child(4) > :nth-child(3) path,
.contentWarningPopout__7d8c2 g > :nth-child(4) > :nth-child(4) path {
  fill: #a0b2dc;
}
.contentWarningPopout__7d8c2 g > :nth-child(4) > :nth-child(5) path,
.contentWarningPopout__7d8c2 g > :nth-child(4) > :nth-child(6) path {
  fill: #7a8ec7;
}
.contentWarningPopout__7d8c2 g > :nth-child(4) > :nth-child(7) path {
  fill: #8ba0d2;
}
.contentWarningPopout__7d8c2 g > :nth-child(4) > :nth-child(8) path {
  fill: #c2d2f1;
}
.contentWarningPopout__7d8c2 g > :nth-child(6) > :nth-child(2) path {
  fill: #99abd8;
}
.contentWarningPopout__7d8c2 g > :nth-child(10) > :first-child path {
  fill: #e0c310;
}
.contentWarningPopout__7d8c2 g > :nth-child(11) > :first-child path {
  fill: #fbd907;
}
