body
  {
    background: url("https://cdn.discordapp.com/attachments/974242241700831242/1165362547751399484/image.png?ex=65590872&is=65469372&hm=40f29463f802687b589fce4568a7a020cbc8e09f52e528c13c55d8a2d3a04871&");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
