  body
  {
    background: url("https://cdn.discordapp.com/attachments/820873485458866188/1075357920373522512/image.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .appMount-3lHmkl
  {
    background: rgba(0, 0, 0, .6);
  }
  .theme-dark, .theme-light
  {
    --background-message-hover: rgba(0, 0, 0, 0);
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #9d9d9d;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-tertiary: transparent;
    --background-accent: transparent;
    --background-floating: rgba(0, 0, 0, .8);
    --activity-card-background: transparent;
    --deprecated-panel-background: transparent;
  }
