.contentColumn_dc7d36:after {
  content: "Обнаружена некоректная работа Discord OS в результате обновлений Discord. Мы знаем об этой проблеме и уже работаем над восстановлением стабильной работы Discord OS.";
  color: var(--text-normal);
  font-size: 14px;
  position: absolute;
  white-space: pre-wrap;
  top: 14px;
  left: 14px;
  z-index: 100;
  pointer-events: none;
}
.content__4bf10 .applicationStore_fc7d76 {
  position: relative;
}
